:root {
    --border-radius: 0.38em;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
    --column-gap: 1em;
    --entry-odd-background: hsla(0, 0%, 0%, 0.04);
    --hover-transform-scale: 1.005;
    --padding-x2: 2em;
    --padding: 1em;
    --row-gap: 1em;

    --app-header-height: 70px;
    --dashboard-header-height: 130px;
    --dashboard-header-height-mobile: 70px;
    --chart-controls-header-height: 70px;

    --sidebar-width: 200px;
    --sidebar-padding: 2em;

    --min-app-width: 375px;
    --ideal-app-width: 100vw;
    --max-app-width: 1906px;
    --app-width: clamp(
        var(--min-app-width),
        var(--ideal-app-width),
        var(--max-app-width)
    );

    --min-input-width: 275px;
    --ideal-input-width: calc(100% - var(--padding-x2));
    --max-input-width: 400px;
    --input-width: clamp(
        var(--min-input-width),
        var(--ideal-input-width),
        var(--max-input-width)
    );

    --min-card-width: calc(343px - var(--padding));
    --ideal-card-width: calc(100% - var(--padding));
    --max-card-width: calc(400px - var(--padding));
    --card-width: clamp(
        var(--min-card-width),
        var(--ideal-card-width),
        var(--max-card-width)
    );

    --directory-card-width: clamp(
        calc(var(--min-input-width) + var(--padding-x2)),
        calc(100% - var(--padding-x2)),
        480px
    );

    --min-resource-card-width: calc(var(--min-input-width) + var(--padding-x2));
    --ideal-resource-card-width: calc(100% - var(--padding-x2));
    --max-resource-card-width: 464px;
    --resource-card-width: clamp(
        var(--min-resource-card-width),
        var(--ideal-resource-card-width),
        var(--max-resource-card-width)
    );

    --chart-height: calc(var(--max-input-width) + var(--padding-x2));
    --min-chart-width: calc(200px - var(--padding));
    --ideal-chart-width: calc(100% - var(--padding-x2));
    --max-chart-width: calc(
        var(--max-app-width) - var(--sidebar-width) - var(--padding-x2)
    );
    --chart-width: clamp(
        var(--min-chart-width),
        var(--ideal-chart-width),
        var(--max-chart-width)
    );

    --min-grid-item-width: calc(var(--min-input-width) + var(--padding-x2));
    --ideal-grid-item-width: calc(100% - var(--padding-x2));
    --max-grid-item-width: calc(var(--max-input-width) + var(--padding-x2));
    --grid-item-width: clamp(
        var(--min-grid-item-width),
        var(--ideal-grid-item-width),
        var(--max-grid-item-width)
    );
    --grid-item-height: calc(
        (var(--max-input-width) + var(--padding-x2)) * 0.5
    );

    --min-register-card-width: calc(var(--min-app-width) - var(--padding));
    --ideal-register-card-width: calc(100% - var(--padding));
    --max-register-card-width: 1024px;
    --register-card-width: clamp(
        var(--min-register-card-width),
        var(--ideal-register-card-width),
        var(--max-register-card-width)
    );
}

/**
 * @see https://webaim.org/techniques/css/invisiblecontent/
 */
.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.accessible-input {
    width: var(--input-width);
}

.burger {
    display: none;
}

.directory-card {
    width: var(--directory-card-width);
}

.error-card {
    width: var(--card-width);
    max-height: 90vh;
    overflow-y: auto;

    .error-image {
        width: calc(100% - var(--padding-x2));
    }
}

.login-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    padding: var(--padding);
    width: 100%;

    .login-card {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: var(--padding);
        justify-content: flex-start;
        padding: var(--padding);
        width: var(--card-width);
    }
}

.chart-controls-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    justify-content: center;
    padding: var(--padding) 0px;
}

.grid-section {
    padding: var(--padding) 0px;
}

.app-shell {
    display: flex;
    flex-direction: column;
    width: 100vw;

    .chart-controls-container {
        display: flex;
        flex-direction: column;
        width: calc(100vw - var(--sidebar-width) - var(--padding) * 0.5);

        .controls-container {
            height: 38vh;
            overflow-y: scroll;
            width: 100%;

            .controls-card {
                width: clamp(
                    var(--min-card-width),
                    var(--ideal-card-width),
                    425px
                );
            }
        }

        .chart-container {
            height: 52vh;
            padding: var(--padding);
            width: 100%;
        }
    }
}

.header-title {
    display: none;
}

.burger {
    display: flex;
}

.sidebar {
    display: none;
}

.sidebar.opened {
    display: flex;
    padding: var(--sidebar-padding);
}

.main.sidebar-opened {
    display: none;
}

.statistics-card {
    width: var(--card-width);
}

.main {
    width: 100%;

    .users-query-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: var(--padding);
        height: 100%;
        justify-content: baseline;
        width: 100%;

        .display-resource-container {
            padding: var(--padding);
            width: 100%;
        }
    }

    .query-container {
        width: 100%;

        .query-chain {
            display: flex;
            flex-wrap: wrap;
            gap: var(--padding);
            padding: var(--padding);
            width: 100%;
        }

        .query-filter {
            display: flex;
            flex-wrap: wrap;
            gap: var(--padding);
            padding: var(--padding);
            width: 100%;
        }

        .query-projection {
            display: flex;
            flex-wrap: wrap;
            gap: var(--padding);
            padding: var(--padding);
            width: 100%;
        }

        .query-sort {
            display: flex;
            flex-wrap: wrap;
            gap: var(--padding);
            padding: var(--padding);
            width: 100%;
        }

        .query-search {
            display: flex;
            flex-direction: column;
            gap: var(--padding);
            padding: var(--padding);
            width: 100%;
        }
    }
}

.resource-cards-container {
    display: grid;
    gap: var(--padding);
    grid-template-columns:
        repeat(auto-fit, minmax(var(--resource-card-width), 1fr));
    padding: var(--padding);
    width: 100%;

    .resource {
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        gap: var(--padding);
        padding: var(--padding);
        transition: all 0.17s ease-in-out;
        width: var(--resource-card-width);

        .resource-item.odd {
            background: var(--entry-odd-background);
        }

        .resource-item {
            align-items: center;
            border-radius: var(--border-radius);
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            justify-content: space-between;
            overflow-x: auto;
            padding: 0.25em var(--padding);
            transition: all 0.17s ease-in-out;
            width: 100%;

            .resource-key {
                align-items: center;
                display: flex;
                gap: var(--padding);
                justify-content: flex-start;
                text-align: left;

                .resource-key-icons {
                    display: flex;
                    flex-direction: column;
                }
            }

            .resource-value {
                overflow-wrap: break-word;
                width: fit-content;
                word-wrap: break-word;
            }
        }
    }
}

.dashboard-layout-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding);

    .header {
        display: flex;
        justify-content: flex-start;
        padding: var(--padding);
        width: 100%;
    }

    .grid-section {
        display: flex;
        flex-direction: column;
        gap: var(--padding);
        padding: var(--padding);
        width: 100%;

        .chart-controls-card {
            align-items: center;
            border-radius: var(--border-radius);
            display: flex;
            flex-direction: column;
            gap: var(--padding);
            height: var(--grid-item-height);
            justify-content: flex-start;
            padding: var(--padding);
            transition: all 0.17s ease-in-out;
            width: var(--grid-item-width);
        }

        .chart-titles {
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
            padding: var(--padding);
            transition: all 0.17s ease-in-out;
            width: var(--grid-item-width);
        }

        .statistics-card {
            align-items: flex-start;
            border-radius: var(--border-radius);
            display: flex;
            flex-direction: column;
            height: var(--grid-item-height);
            justify-content: space-between;
            padding: var(--padding);
            transition: all 0.17s ease-in-out;
            width: var(--grid-item-width);
        }

        .chart-card {
            border-radius: var(--border-radius);
            display: grid;
            place-items: center;
            width: 100%;

            .chart {
                cursor: pointer;
                height: var(--chart-height);
                width: var(--chart-width);
            }
        }
    }
}

.register-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    padding: var(--padding);
    width: 100%;

    .register-card {
        display: flex;
        flex-direction: column;
        height: clamp(
            var(--min-register-card-height),
            var(--ideal-register-card-height),
            var(--max-register-card-height)
        );
        overflow-y: auto;
        width: clamp(
            var(--min-register-card-width),
            var(--ideal-register-card-width),
            var(--max-register-card-width)
        );

        .register-stepper-container {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            row-gap: var(--row-gap);
            width: 100%;

            .register-stepper-header {
                width: 100%;
            }

            .register-stepper-cards {
                align-items: center;
                column-gap: var(--column-gap);
                display: flex;
                flex-direction: column;
                row-gap: var(--row-gap);
                width: 100%;

                .stepper-card {
                    display: none;

                    .stepper-circle-section {
                        width: 15%;
                        display: flex;
                        justify-content: center;
                    }
                }

                .stepper-card.active {
                    border-radius: 1em;
                    box-shadow: var(--box-shadow);
                    display: flex;
                    transition: all 0.17s ease-in-out;
                    width: var(--card-width);
                }
            }
        }

        .register-form-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: var(--padding);
            row-gap: var(--row-gap);
            width: 100%;

            .register-form-header {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
            }

            .register-form-card {
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: var(--padding);
                justify-content: center;
                padding: var(--padding);
                width: 100%;
            }

            .register-form-footer {
                column-gap: var(--column-gap);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                row-gap: var(--row-gap);
                width: 100%;
            }

            .form-review {
                align-items: center;
                display: flex;
                flex-direction: column;
                padding-top: var(--padding);
                row-gap: var(--row-gap);
                width: 100%;

                .review-section-container {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .step-inputs-container {
                        display: flex;
                        flex-direction: column;
                        padding: var(--padding) 0px;
                        row-gap: 0.25em;

                        .input-section {
                            border-radius: 0.38em;
                            column-gap: 2em;
                            display: grid;
                            grid-template-columns: 3fr 8fr;
                            padding: 0.75em var(--padding);
                        }

                        .input-section.isEven {
                            background: hsla(0, 0%, 0%, 0.03);
                        }
                    }
                }
            }
        }
    }
}

/** 
 * min-width1: padding + grid-item-height + padding + grid-item-width + padding
 * max-width1: sidebar-width + min-width1
 */
@media screen and (min-width: 696px) and (max-width: 896px) {
    .register-container .register-card {
        display: flex;
        flex-direction: row;

        .register-stepper-container {
            .register-stepper-cards {
                align-items: flex-start;
                column-gap: var(--column-gap);
                display: flex;
                flex-direction: column;
                row-gap: var(--row-gap);
                width: 100%;

                .stepper-card {
                    border-radius: 1em;
                    display: flex;
                    transition: box-shadow 0.17s ease-in-out;
                    width: var(--card-width);
                }

                .stepper-card.active {
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }

    .app-shell {
        display: flex;
        flex-direction: column;
        width: 100vw;

        .chart-controls-container {
            display: flex;
            flex-direction: column;
            width: 100%;

            .controls-container {
                height: 38vh;
                overflow-y: scroll;
                width: 100%;

                .controls-card {
                    width: clamp(
                        var(--min-card-width),
                        var(--ideal-card-width),
                        425px
                    );
                }
            }

            .chart-container {
                height: 52vh;
                padding: var(--padding);
                width: 100%;
            }
        }
    }

    .dashboard-layout-container {
        width: 100%;

        .header {
            padding: var(--padding);
        }

        .grid-section.calendar {
            display: grid;
            gap: var(--padding);
            /* grid-template-areas:
               1  2  3
              "ti co co" 1
              "ti c0 c0" 2
              "bc bc bc" 3
              "bc bc bc" 4
              "lc lc lc" 5
              "lc lc lc" 6
              "cc cc cc" 7
              "cc cc cc" 8
              "rc rc rc" 9
              "rc rc rc";10*/
            grid-template-columns: repeat(3, var(--grid-item-height));
            grid-template-rows: repeat(10, var(--grid-item-height));
            width: 100%;

            .chart-titles {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 0px;
                grid-column: 1/2;
                grid-row: 1/3;
                width: var(--grid-item-height);
            }

            .chart-controls-card {
                grid-column: 2/4;
                grid-row: 1/2;
                justify-self: flex-end;
            }
            .chart-card.calendar {
                grid-column: 1/4;
                grid-row: 7/9;
            }
            .chart-card.bar {
                grid-column: 1/4;
                grid-row: 3/5;
            }
            .chart-card.line {
                grid-column: 1/4;
                grid-row: 5/7;
            }
            .chart-card.radial {
                grid-column: 1/4;
                grid-row: 9/11;
            }

            .statistics-card {
                grid-column: 2/4;
                grid-row: 2/3;
                justify-self: flex-end;
            }
        }

        .grid-section.pie {
            display: grid;
            gap: var(--padding);

            /* grid-template-areas:
               1  2  3
              "ti co co" 1
              "ti c0 c0" 2
              "bc bc bc" 3
              "bc bc bc" 4
              "lc lc lc" 5
              "lc lc lc" 6
              "rc rc rc" 7
              "rc rc rc" 8
              "pc pc pc" 9
              "pc pc pc" 10
              "c1 c1 .." 11
              "c2 c2 .." 12
              "c3 c3 .." 13
              "c4 c4 .."; */

            grid-template-columns:
                var(--grid-item-height) var(--grid-item-width);
            grid-template-rows: repeat(14, var(--grid-item-height));
            width: 100%;

            .chart-titles {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 0px;
                grid-column: 1/2;
                grid-row: 1/3;
                width: var(--grid-item-height);
            }

            .chart-controls-card {
                justify-self: flex-end;
                grid-column: 2/3;
                grid-row: 1/2;
                width: 100%;
            }
            .chart-card.pie {
                grid-column: 1/3;
                grid-row: 9/11;
            }
            .chart-card.bar {
                grid-column: 1/3;
                grid-row: 3/5;
            }
            .chart-card.line {
                grid-column: 1/3;
                grid-row: 5/7;
            }
            .chart-card.radial {
                grid-column: 1/3;
                grid-row: 7/9;
            }

            .statistics-card.c0 {
                justify-self: flex-end;
                grid-column: 2/3;
                grid-row: 2/3;
                width: 100%;
            }
            .statistics-card.c1 {
                grid-column: 1/3;
                grid-row: 11/12;
            }
            .statistics-card.c2 {
                grid-column: 1/3;
                grid-row: 12/13;
            }
            .statistics-card.c3 {
                grid-column: 1/3;
                grid-row: 13/14;
            }
            .statistics-card.c4 {
                grid-column: 1/3;
                grid-row: 14/15;
            }
        }
    }
}

/** 
 * min-width2: max-width1 + 1px
 * max-width2: min-width2 + grid-item-width + padding
 */
@media screen and (min-width: 897px) and (max-width: 1112px) {
    .register-container .register-card {
        display: flex;
        flex-direction: row;

        .register-stepper-container {
            .register-stepper-cards {
                align-items: flex-start;
                column-gap: var(--column-gap);
                display: flex;
                flex-direction: column;
                row-gap: var(--row-gap);
                width: calc((400px - var(--padding)) * 0.5);

                .stepper-card {
                    border-radius: 1em;
                    display: flex;
                    transition: box-shadow 0.17s ease-in-out;
                    width: var(--card-width);
                }

                .stepper-card.active {
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }

    .app-shell {
        display: grid;
        grid-template-areas:
            "header header header header header header header header header header header header"
            "sidebar main main main main main main main main main main main";
        width: var(--app-width);
    }

    .header {
        grid-area: header;
        width: 100%;
    }
    .header-title {
        display: flex;
    }
    .burger {
        display: none;
    }

    .sidebar {
        display: flex;
        grid-area: sidebar;
        padding: var(--sidebar-padding);
    }

    .main {
        grid-area: main;
        width: 100%;
    }

    .dashboard-layout-container {
        width: 100%;

        .header {
            padding: var(--padding);
        }

        .grid-section.calendar {
            display: grid;
            gap: var(--padding);

            /* grid-template-areas:
               1  2  3
              "ti co co" 1
              "ti c0 c0" 2
              "bc bc bc" 3
              "bc bc bc" 4
              "lc lc lc" 5
              "lc lc lc" 6
              "cc cc cc" 7
              "cc cc cc" 8
              "rc rc rc" 9
              "rc rc rc";10*/

            grid-template-columns: repeat(3, var(--grid-item-height));
            grid-template-rows: repeat(10, var(--grid-item-height));
            width: 100%;

            .chart-controls-card {
                grid-area: co;
            }

            .chart-titles {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 0px;
                grid-column: 1/2;
                grid-row: 1/3;
                width: var(--grid-item-height);
            }

            .chart-controls-card {
                justify-self: flex-end;
                grid-column: 2/4;
                grid-row: 1/2;
            }
            .chart-card.calendar {
                grid-column: 1/4;
                grid-row: 7/9;
            }
            .chart-card.bar {
                grid-column: 1/4;
                grid-row: 3/5;
            }
            .chart-card.line {
                grid-column: 1/4;
                grid-row: 5/7;
            }
            .chart-card.radial {
                grid-column: 1/4;
                grid-row: 9/11;
            }

            .statistics-card {
                grid-column: 2/4;
                grid-row: 2/3;
                justify-self: flex-end;
            }
        }

        .grid-section.pie {
            display: grid;
            gap: var(--padding);

            /* grid-template-areas:
               1  2  3
              "ti co co" 1
              "ti c0 c0" 2
              "bc bc bc" 3
              "bc bc bc" 4
              "lc lc lc" 5
              "lc lc lc" 6
              "rc rc rc" 7
              "rc rc rc" 8
              "pc pc pc" 9
              "pc pc pc" 10
              "c1 c1 .." 11
              "c2 c2 .." 12
              "c3 c3 .." 13
              "c4 c4 .."; */

            grid-template-columns:
                var(--grid-item-height) var(--grid-item-width);
            grid-template-rows: repeat(14, var(--grid-item-height));
            width: 100%;

            .chart-titles {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 0px;
                grid-column: 1/2;
                grid-row: 1/3;
                width: var(--grid-item-height);
            }

            .chart-controls-card {
                justify-self: flex-end;
                grid-column: 2/3;
                grid-row: 1/2;
                width: 100%;
            }

            .chart-card.pie {
                grid-column: 1/3;
                grid-row: 9/11;
            }
            .chart-card.bar {
                grid-column: 1/3;
                grid-row: 3/5;
            }
            .chart-card.line {
                grid-column: 1/3;
                grid-row: 5/7;
            }
            .chart-card.radial {
                grid-column: 1/3;
                grid-row: 7/9;
            }

            .statistics-card.c0 {
                grid-column: 2/3;
                grid-row: 2/3;
                justify-self: flex-end;
                width: 100%;
            }
            .statistics-card.c1 {
                grid-column: 1/3;
                grid-row: 11/12;
            }
            .statistics-card.c2 {
                grid-column: 1/3;
                grid-row: 12/13;
            }
            .statistics-card.c3 {
                grid-column: 1/3;
                grid-row: 13/14;
            }
            .statistics-card.c4 {
                grid-column: 1/3;
                grid-row: 14/15;
            }
        }
    }
}

/* 
 * min-width3: max-width2 + 1px
 * max-width3: min-width3 + padding + grid-item-height + padding 
 */
@media screen and (min-width: 1113px) and (max-width: 1361px) {
    .register-container .register-card {
        display: flex;
        flex-direction: row;

        .register-stepper-container {
            .register-stepper-cards {
                align-items: flex-start;
                column-gap: var(--column-gap);
                display: flex;
                flex-direction: column;
                row-gap: var(--row-gap);
                width: 100%;

                .stepper-card {
                    border-radius: 1em;
                    display: flex;
                    transition: box-shadow 0.17s ease-in-out;
                    width: var(--card-width);
                }

                .stepper-card.active {
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }

    .app-shell {
        display: grid;
        grid-template-areas:
            "header header header header header header header header header header header header"
            "sidebar main main main main main main main main main main main";
        width: var(--app-width);
    }

    .header {
        grid-area: header;
        width: 100%;
    }
    .header-title {
        display: flex;
    }
    .burger {
        display: none;
    }

    .sidebar {
        display: flex;
        grid-area: sidebar;
        padding: var(--sidebar-padding);
    }

    .main {
        grid-area: main;
        width: 100%;

        .users-query-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: var(--padding);
            justify-content: baseline;
            padding: var(--padding);
            width: 100%;

            .display-resource-container {
                width: min(
                    calc(
                        var(--app-width) - var(--sidebar-width)
                            - var(--padding-x2)
                    ),
                    calc(100vw - var(--padding-x2))
                );

                .resource-table-container {
                    overflow-x: scroll;
                    width: 100%;

                    .table-header {
                        .header-item {
                            align-items: center;
                            display: flex;
                            flex-wrap: wrap;
                            gap: var(--padding);
                            justify-content: flex-start;
                            max-width: 275px;
                            min-width: 175px;

                            .resource-key-icons {
                                display: flex;
                                flex-direction: column;
                                width: fit-content;
                            }
                        }
                    }

                    .table-body {
                        .table-value {
                            cursor: pointer;
                            padding: 0px var(--padding);
                        }
                    }
                }
            }
        }
    }

    .grid-section.calendar {
        display: grid;
        gap: var(--padding);

        /* grid-template-areas:
           1  2  3  4
          "ti co co co" 1
          "ti c0 c0 c0" 2
          "bc bc bc bc" 3
          "bc bc bc bc" 4
          "lc lc lc lc" 5
          "lc lc lc lc" 6
          "cc cc cc cc" 7
          "cc cc cc cc" 8
          "rc rc rc rc" 9
          "rc rc rc rc";10*/

        grid-template-columns: repeat(4, var(--grid-item-height));
        grid-template-rows: repeat(10, var(--grid-item-height));
        width: 100%;

        .chart-titles {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 0px;
            grid-column: 1/2;
            grid-row: 1/3;
            width: var(--grid-item-height);
        }

        .chart-controls-card {
            grid-column: 2/5;
            grid-row: 1/2;
        }
        .chart-card.calendar {
            grid-column: 1/5;
            grid-row: 7/9;
        }
        .chart-card.bar {
            grid-column: 1/5;
            grid-row: 3/5;
        }
        .chart-card.line {
            grid-column: 1/5;
            grid-row: 5/7;
        }
        .chart-card.radial {
            grid-column: 1/5;
            grid-row: 9/11;
        }

        .statistics-card {
            grid-column: 2/5;
            grid-row: 2/3;
        }
    }

    .grid-section.pie {
        display: grid;
        gap: var(--padding);

        /* grid-template-areas:
           1  2  3  4
          "ti co co co" 1
          "ti c0 c0 c0" 2
          "bc bc bc bc" 3
          "bc bc bc bc" 4
          "lc lc lc lc" 5
          "lc lc lc lc" 6
          "rc rc rc rc" 7
          "rc rc rc rc" 8
          "pc pc c1 c1" 9
          "pc pc c2 c2" 10
          "c3 c3 .. .." 11
          "c4 c4 .. .." ;12 */

        grid-template-columns: repeat(4, var(--grid-item-height));
        grid-template-rows: repeat(12, var(--grid-item-height));
        width: 100%;

        .chart-titles {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 2px;
            grid-column: 1/2;
            grid-row: 1/3;
            width: var(--grid-item-height);
        }

        .chart-controls-card {
            grid-column: 2/4;
            grid-row: 1/2;
            width: 100%;
        }

        .chart-card.pie {
            grid-column: 1/3;
            grid-row: 9/11;
        }
        .chart-card.bar {
            grid-column: 1/5;
            grid-row: 3/5;
        }
        .chart-card.line {
            grid-column: 1/5;
            grid-row: 5/7;
        }
        .chart-card.radial {
            grid-column: 1/5;
            grid-row: 7/9;
        }

        .statistics-card.c0 {
            grid-column: 2/4;
            grid-row: 2/4;
            width: 100%;
        }
        .statistics-card.c1 {
            grid-column: 3/5;
            grid-row: 9/10;
            justify-self: flex-end;
            width: 100%;
        }
        .statistics-card.c2 {
            grid-column: 3/5;
            grid-row: 10/11;
            justify-self: flex-end;
            width: 100%;
        }
        .statistics-card.c3 {
            grid-column: 1/3;
            grid-row: 11/12;
            width: 100%;
        }
        .statistics-card.c4 {
            grid-column: 1/3;
            grid-row: 12/13;
            width: 100%;
        }
    }
}

/* 
 * min-width5: max-width4 + 1px
 * max-width6: min-width4 + padding + grid-item-width + padding
 */
@media screen and (min-width: 1362px) and (max-width: 1810px) {
    .register-container .register-card {
        display: flex;
        flex-direction: row;

        .register-stepper-container {
            .register-stepper-cards {
                align-items: flex-start;
                column-gap: var(--column-gap);
                display: flex;
                flex-direction: column;
                row-gap: var(--row-gap);
                width: 100%;

                .stepper-card {
                    border-radius: 1em;
                    display: flex;
                    transition: box-shadow 0.17s ease-in-out;
                    width: var(--card-width);
                }

                .stepper-card.active {
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }

    .app-shell {
        display: grid;
        grid-template-areas:
            "header header header header header header header header header header header header"
            "sidebar main main main main main main main main main main main";
        width: var(--app-width);
    }

    .header {
        grid-area: header;
        width: 100%;
    }
    .header-title {
        display: flex;
    }
    .burger {
        display: none;
    }

    .sidebar {
        display: flex;
        grid-area: sidebar;
        padding: var(--sidebar-padding);
    }

    .main {
        grid-area: main;
        width: 100%;

        .users-query-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: var(--padding);
            justify-content: baseline;
            padding: var(--padding);
            width: 100%;

            .display-resource-container {
                width: min(
                    calc(
                        var(--app-width) - var(--sidebar-width)
                            - var(--padding-x2)
                    ),
                    calc(100vw - var(--padding-x2))
                );

                .resource-table-container {
                    overflow-x: scroll;
                    width: 100%;

                    .table-header {
                        .header-item {
                            align-items: center;
                            display: flex;
                            flex-wrap: wrap;
                            gap: var(--padding);
                            justify-content: flex-start;
                            max-width: 275px;
                            min-width: 175px;

                            .resource-key-icons {
                                display: flex;
                                flex-direction: column;
                                width: fit-content;
                            }
                        }
                    }

                    .table-body {
                        .table-value {
                            cursor: pointer;
                            padding: 0px var(--padding);
                        }
                    }
                }
            }
        }
    }

    .grid-section.calendar {
        display: grid;
        gap: var(--padding);

        /* grid-template-areas:
           1  2  3  4  5
          "ti co co rc rc" 1
          "ti c0 c0 rc rc" 2
          "bc bc bc bc bc" 3
          "bc bc bc bc bc" 4
          "lc lc lc lc lc" 5
          "lc lc lc lc lc" 6
          "cc cc cc cc cc" 7
          "cc cc cc cc cc" 8*/

        grid-template-columns: repeat(5, var(--grid-item-height));
        grid-template-rows: repeat(8, var(--grid-item-height));
        width: 100%;

        .chart-controls-card {
            grid-area: co;
        }

        .chart-titles {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 0px;
            grid-column: 1/2;
            grid-row: 1/3;
            width: var(--grid-item-height);
        }

        .chart-controls-card {
            grid-column: 2/4;
            grid-row: 1/2;
            justify-self: center;
            width: 100%;
        }
        .chart-card.calendar {
            grid-column: 1/6;
            grid-row: 7/9;
        }
        .chart-card.bar {
            grid-column: 1/6;
            grid-row: 3/5;
        }
        .chart-card.line {
            grid-column: 1/6;
            grid-row: 5/7;
        }
        .chart-card.radial {
            grid-column: 4/6;
            grid-row: 1/3;
        }

        .statistics-card {
            grid-column: 2/4;
            grid-row: 2/3;
            justify-self: center;
            width: 100%;
        }
    }

    .grid-section.pie {
        display: grid;
        gap: var(--padding);

        /* grid-template-areas:
           1  2  3  4  5
          "ti co co pc pc" 1
          "ti c0 c0 pc pc" 2
          "bc bc bc bc bc" 3
          "bc bc bc bc bc" 4
          "c1 c1 lc lc lc" 5
          "c2 c2 lc lc lc" 6
          "rc rc rc c3 c3" 7
          "rc rc rc c4 c4";8 */

        grid-template-columns: repeat(5, var(--grid-item-height));
        grid-template-rows: repeat(8, var(--grid-item-height));
        width: 100%;

        .chart-titles {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 2px;
            grid-column: 1/2;
            grid-row: 1/3;
            width: var(--grid-item-height);
        }

        .chart-controls-card {
            grid-column: 2/4;
            grid-row: 1/2;
            justify-self: center;
            width: 100%;
        }

        .chart-card.pie {
            grid-column: 4/6;
            grid-row: 1/3;
        }
        .chart-card.bar {
            grid-column: 1/6;
            grid-row: 3/5;
        }
        .chart-card.line {
            grid-column: 3/6;
            grid-row: 5/7;
        }
        .chart-card.radial {
            grid-column: 1/4;
            grid-row: 7/9;
        }

        .statistics-card.c0 {
            grid-column: 2/4;
            grid-row: 2/4;
            justify-self: center;
            width: 100%;
        }
        .statistics-card.c1 {
            grid-column: 1/3;
            grid-row: 5/6;
            width: 100%;
        }
        .statistics-card.c2 {
            grid-column: 1/3;
            grid-row: 6/7;
            width: 100%;
        }
        .statistics-card.c3 {
            grid-column: 4/6;
            grid-row: 7/8;
            justify-self: flex-end;
            width: 100%;
        }
        .statistics-card.c4 {
            grid-column: 4/6;
            grid-row: 8/9;
            justify-self: flex-end;
            width: 100%;
        }
    }
}

/* 
 * min-width4: max-width3 + 1px
 * max-width4: min-width4 + padding
 */
@media screen and (min-width: 1811px) {
    .register-container .register-card {
        display: flex;
        flex-direction: row;

        .register-stepper-container {
            .register-stepper-cards {
                align-items: flex-start;
                column-gap: var(--column-gap);
                display: flex;
                flex-direction: column;
                row-gap: var(--row-gap);
                width: 100%;

                .stepper-card {
                    border-radius: 1em;
                    display: flex;
                    transition: box-shadow 0.17s ease-in-out;
                    width: var(--card-width);
                }

                .stepper-card.active {
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }

    .app-shell {
        display: grid;
        grid-template-areas:
            "header header header header header header header header header header header header"
            "sidebar main main main main main main main main main main main";
        /* width: var(--app-width); */
        width: 100%;
    }

    .header {
        grid-area: header;
        width: 100%;
    }
    .header-title {
        display: flex;
    }
    .burger {
        display: none;
    }

    .sidebar {
        display: flex;
        grid-area: sidebar;
        padding: var(--sidebar-padding);
    }

    .main {
        grid-area: main;
        width: 100%;

        .users-query-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: var(--padding);
            justify-content: baseline;
            padding: var(--padding);
            width: 100%;

            .display-resource-container {
                width: max(
                    calc(
                        var(--app-width) - var(--sidebar-width)
                            - var(--padding-x2)
                    ),
                    calc(100vw - var(--sidebar-width) - var(--padding-x2))
                );

                .resource-table-container {
                    overflow-x: scroll;
                    width: 100%;

                    .table-header {
                        .header-item {
                            align-items: center;
                            display: flex;
                            flex-wrap: wrap;
                            gap: var(--padding);
                            justify-content: flex-start;
                            max-width: 275px;
                            min-width: 175px;

                            .resource-key-icons {
                                display: flex;
                                flex-direction: column;
                                width: fit-content;
                            }
                        }
                    }

                    .table-body {
                        .table-value {
                            cursor: pointer;
                            padding: 0px var(--padding);
                        }
                    }
                }
            }
        }
    }

    .grid-section.calendar {
        display: grid;
        gap: var(--padding);

        /* grid-template-areas:
        1  2  3  4  5  6  7
        "ti co co rc rc cc cc" 1
        "ti c0 c0 rc rc cc cc" 2
        "bc bc bc bc bc cc cc" 3
        "bc bc bc bc bc cc cc" 4
        "lc lc lc lc lc cc cc" 5
        "lc lc lc lc lc cc cc" 6; */

        grid-template-columns: repeat(7, var(--grid-item-height));
        grid-template-rows: repeat(6, var(--grid-item-height));
        place-content: center;
        width: 100%;

        .chart-titles {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 0px;
            grid-column: 1/2;
            grid-row: 1/3;
            width: var(--grid-item-height);
        }

        .chart-controls-card {
            grid-column: 2/4;
            grid-row: 1/2;
            justify-self: center;
            width: 100%;
        }

        .chart-card.calendar {
            grid-column: 6/8;
            grid-row: 1/7;

            .chart {
                width: var(--grid-item-width);
                height: 1296px;
            }
        }
        .chart-card.bar {
            grid-column: 1/6;
            grid-row: 3/5;
        }
        .chart-card.line {
            grid-column: 1/6;
            grid-row: 5/7;
        }
        .chart-card.radial {
            grid-column: 4/6;
            grid-row: 1/3;
        }

        .statistics-card {
            grid-column: 2/4;
            grid-row: 2/3;
            justify-self: center;
            width: 100%;
        }
    }

    .grid-section.pie {
        display: grid;
        gap: var(--padding);

        /* grid-template-areas:
           1  2  3  4  5  6  7
          "ti co co pc pc rc rc" 1
          "ti c0 c0 pc pc rc rc" 2
          "bc bc bc bc bc c1 c1" 3
          "bc bc bc bc bc c2 c2" 4
          "c3 c3 lc lc lc lc lc" 5
          "c4 c4 lc lc lc lc lc";6 */

        grid-template-columns: repeat(7, var(--grid-item-height));
        grid-template-rows: repeat(6, var(--grid-item-height));
        place-content: center;
        width: 100%;

        .chart-titles {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 2px;
            grid-column: 1/2;
            grid-row: 1/3;
            width: var(--grid-item-height);
        }

        .chart-controls-card {
            grid-column: 2/4;
            grid-row: 1/2;
            justify-self: center;
            width: 100%;
        }

        .chart-card.pie {
            grid-column: 4/6;
            grid-row: 1/3;
        }
        .chart-card.bar {
            grid-column: 1/6;
            grid-row: 3/5;
        }
        .chart-card.line {
            grid-column: 3/8;
            grid-row: 5/7;
        }
        .chart-card.radial {
            grid-column: 6/8;
            grid-row: 1/3;
        }

        .statistics-card.c0 {
            grid-column: 2/4;
            grid-row: 2/4;
            justify-self: center;
            width: 100%;
        }
        .statistics-card.c1 {
            grid-column: 6/8;
            grid-row: 3/4;
            justify-self: flex-end;
            width: 100%;
        }
        .statistics-card.c2 {
            grid-column: 6/8;
            grid-row: 4/5;
            justify-self: flex-end;
            width: 100%;
        }
        .statistics-card.c3 {
            grid-column: 1/3;
            grid-row: 5/6;
            justify-self: flex-start;
            width: 100%;
        }
        .statistics-card.c4 {
            grid-column: 1/3;
            grid-row: 6/7;
            justify-self: flex-start;
            width: 100%;
        }
    }
}
